<div class="buttons">
    <button (click)="changedsProjectRoomData()">text</button>
    <button (click)="changedsProjectRoomBlocks()">blocks</button>
    <button (click)="change()">url</button>
    <button (click)="changedsProjectRoomData();changedsProjectRoomBlocks()">both</button>
<button (click)="changeTemplate();">template</button>
</div>

<div class="home">
  <div class="left">left menu</div>
  <div class="right">
      <lib-dynamic-labeling-room
          [data]="dsProjectRoomData"
          [blocks]="dsProjectRoomBlocks"
          [templateType]="templateType"
          [initDragBasedOnViewTextSize]="initDragBasedOnViewTextSize"
          [mainCssObj]="mainCssObj"
          [viewCssObj]="viewCssObj"
          [formCssObj]="formCssObj"
          [enableHistory]="enableHistory"
          (onChange)="onDsProjectRoomChange($event)"
      ></lib-dynamic-labeling-room>
    </div>
</div>
<!--<lib-dynamic-template-->
<!--  [settings]="settings"-->
<!--&gt;</lib-dynamic-template>-->
<!--<button (click)="click()">click me {{test}}</button>-->

<!--Vertical {{from}}: {{to}}-->

<!--Horizontal {{fromHorizontal}}: {{toHorizontal}}-->
<!--<div class="scroll-box">-->
<!--  <div class="infinity-scroll"-->
<!--       [angularInfinityScroll]-->
<!--       [angularInfinityScrollDownDistance]="50"-->
<!--       [angularInfinityScrollUpDistance]="50"-->
<!--       [angularInfinityScrollLeftDistance]="50"-->
<!--       [angularInfinityScrollRightDistance]="50"-->
<!--       [angularInfinityScrollDisabled]=""-->
<!--       (scrolledDown)="onScrollBottom()"-->
<!--       (scrolledUp)="onScrollUp()"-->
<!--       (scrolledLeft)="onScrollLeft()"-->
<!--       (scrolledRight)="onScrollRight()"-->
<!--  >-->
<!--    <table>-->
<!--      <tr class="item-{{i}}" *ngFor="let item of array | slice: from: to; let i = index">-->
<!--        <td>{{from + i}}</td>-->
<!--        <td class="item" *ngFor="let j of item | keyvalue  | slice: fromHorizontal: toHorizontal">{{j.value}}</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
